<button ui-sref="dashboard.sendMail">Send Mail</button>
<button ui-sref="dashboard.excellConfigration">Excell Configration</button>


<div class="container">

    <table class="table">
        <tr>
            <th>sender</th>
            <th>Reciver</th>
            <th>EmailStatus</th>
            <th>Created_at</th>
        </tr>

        <tr data-ng-repeat="log in logList">
            <td>{{log.sender}}</td>
            <td>{{log.to}}</td>
            <td>{{log.emailStatus}}</td>
            <td>{{log.created_at}}</td>

        </tr>

    </table>
</div>