<div class="theme-blue" id="body-text">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="mobile-logo">
                        <a href=""><img src="images/feedback.svg" alt="Bulk-Message"></a>
                    </div>


                    <div class="auth-left">
                        <div class="left-top">
                            <a href="">
                                <img src="images/feedback.svg" alt="Bulk-Message">
                                <span>Bulk-Message</span>
                            </a>
                        </div>
                        <div class="left-slider">
                            <img src="images/reset.svg" class="svg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="auth-right">
                        <div class="card">
                            <div class="header">
                                <p class="lead">Recover my password</p>
                            </div>
                            <div class="body">
                                <p>Please enter your email address below to receive instructions for resetting password.</p>
                                <form class="form-auth-small" valid-submit="forgotPassword(forgotPasswordData)">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" data-ng-model="forgotPasswordData.email" placeholder="email">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn">RESET PASSWORD</button>
                                    <div class="bottom">
                                        <span class="helper-text">Know your password? <a ui-sref="login" class="log">Login</a></span>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</div>